<div class="w-full footer">
    <div class="w-full gap-[30px] md:gap-[10px] flex flex-col md:flex-row p-5 py-[50px] lg:px-[100px]">
        <div class="w-full md:flex-1">
            <h2 class="text-xl font-bold">About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis diam.</p>
            <p>Duis tellus enim, vestibulum eget varius id, vulputate et mi. Nullam feugiat, diam quis interdum varius</p>
            <button class="uppercase cursor-pointer text-bold text-[14px] px-5 py-2 border-2 border-[#838C48] text-[#838C48] hover:bg-[#838C48] transition hover:text-white hover:border-[#838C48]">start learning now</button>
        </div>

        <div class="w-full md:flex-1">
            <h2 class="text-xl font-bold">Popular Courses</h2>
            <div class="w-full">
                <ul>
                    <li><i class="my-2 mr-2"></i></li>
                </ul>
            </div>
        </div>

        <div class="w-full md:flex-1">
            <h2 class="text-xl font-bold">Quick Links</h2>
            <div>
                <ul>
                    <li><i class="pi pi-chevron-right my-2 mr-2"></i>All Courses</li>
                    <hr>
                    <li><i class="pi pi-chevron-right my-2 mr-2"></i>Summer Sessions</li>
                    <hr>
                    <li><i class="pi pi-chevron-right my-2 mr-2"></i>Professional Courses</li>
                    <hr>
                    <li><i class="pi pi-chevron-right my-2 mr-2"></i>All Courses</li>
                    <hr>
                </ul>
            </div>
        </div>

        <div class="w-full md:flex-1">
            <h2 class="text-xl font-bold">Contact us</h2>
            <div class="w-full">
                <ul class="text-[13px]">
                    <li class="my-2 flex items-center"><i class="pi my-2 pi-caret-right mr-2"></i>2233 My Lane, Nrb, Kenya</li>
                    <hr>
                    <li class="my-2 flex items-center"><i class="pi my-2 pi-phone mr-2"></i> +254 7000 000</li>
                    <hr>
                    <li class="my-2 flex items-center"> <i class="pi my-2 pi-inbox mr-2"></i>+11 5 7654 2244</li>
                    <hr>
                    <li class="my-2 flex items-center"> <i class="pi my-2 pi-envelope mr-2"></i>Soma.lms@mail.com</li>
                    <hr>
                </ul>
            </div>
        </div>
    </div>
    <div class="w-full p-2 lg:px-[100px] text-center lg:text-start items-center justify-center flex flex-col md:flex-row lg:px-[100px] bg-[#838C48]">
        <div class="flex-3">
            <p class="text-[14px] font-bold text-[#fafafa]">Copyright 2026 LMS Theme All Rights Reserved | Design themes</p>
        </div>
        <div class="flex-1 py-2 md:py-0 flex items-center gap-5 text-white justify-end">
            <i class="pi cursor-pointer pi-twitter"></i>
            <i class="pi cursor-pointer pi-youtube"></i>
            <i class="pi cursor-pointer pi-facebook"></i>
            <i class="pi cursor-pointer pi-instagram"></i>
        </div>
    </div>
</div>