<div class="w-full flex flex-col md:flex-row footer p-5 py-[50px] lg:px-[100px]">
    <div class="w-full md:flex-1">
        <h2 class="text-xl font-bold">About us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et lobortis diam.</p>
        <p>Duis tellus enim, vestibulum eget varius id, vulputate et mi. Nullam feugiat, diam quis interdum varius</p>
        <button class="uppercase cursor-pointer text-bold text-[14px] px-5 py-2 border-2 border-black">start learning now</button>
    </div>

    <div class="w-full md:flex-1">
        <h2 class="text-xl font-bold">Popular Courses</h2>
    </div>

    <div class="w-full md:flex-1">
        <h2 class="text-xl font-bold">Quick Links</h2>
    </div>

    <div class="w-full md:flex-1">
        <h2 class="text-xl font-bold">Contact us</h2>
        <div class="w-full">

        </div>
    </div>
</div>