.footer {
    position: sticky;
    bottom: bottom;
    left: 0;
    right: 0;
    background-color: #F5E9D4;
    color: #808080;
    font-size: 14px;

    h2 {
        color: rgb(63, 63, 63);
    }

    p {    
        margin: 1rem 0;
    }

    ul {
        li {
            list-style: none;
            margin: 1rem 0;
            cursor: pointer;
            
            i {
                color: #838C48;
            }
        }
    }
}