.navbar {

   li {
    list-style: none;
    cursor: pointer;
    
   }
}

.drawer {
   .list-none {
      li {
         margin: 1rem 0;
         cursor: pointer;
      }
   }

   button {
      border: 1px solid rgb(63, 63, 63);
      padding: 5px 15px;
      cursor: pointer;
   }
}
