.hero {
    background-image: url(../../../../public/assets/hero.jpg);
    background-position: center;
    background-size: cover;
}

#courses {
    p {
        font-size: 14px;
        color: #808080;
        margin: 1rem 0;
        
    }
}