<div class="w-full min-h-screen">
    <div class="w-full p-3 p-2 lg:px-[100px]">
        <h2>Courses</h2>
        <small>Home / Courses</small>
    </div>
    <div class="w-full gap-2 py-[50px] flex flex-col md:flex-row p-2 lg:px-[100px]">
        <div class="w-full flex-1">
            <div class="w-full flex items-center h-[35px]">
                <input type="text" class="h-full p-3" placeholder="Search course...">
                <button class="p-3 flex items-center cursor-pointer justify-center">
                    <i class="pi pi-search h-full"></i>
                </button>
            </div>
        </div>

        <div class="w-full flex-3">
            <div class="w-full grid grid-cols-1 md:grid-cols-3 gap-5 md:px-[30px]">
                @for (course of courses; track $index) {
                    <app-course-home-tile *ngFor="let course of courses" [course]="course" (courseDeleted)="onCourseDelete($event)" class="w-full "></app-course-home-tile>
                } @empty {
                    <p>No Courses found!</p>
                }
            </div>
        </div>

    </div>
</div>